<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="Practice Suite" preserve-order="true" parallel="tests" thread-count="5">

    <groups>
        <run>
            <exclude name="regression"/>
            <exclude name="functional"/>
        </run>
    </groups>
    <test name="Test Basics 1">
        <classes>
            <class name="org.selenium.firstScript">
            </class>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->